<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-align-left"></i> Phone Configurations
                    <small>.</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li title="Reload" ng-click="loadData()">
                        <a class="close-link"><i class="fa fa-refresh" ></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">


                    <div class="row">
                        <div class="x_panel">


                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <label>Company's</label>
                                <ui-select ng-model="selected_company.value">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.companyName"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in (company_list | filter: $select.search | orderBy : 'companyName')  track by item.companyId">
                                        <span ng-bind="item.companyName"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>

                            <!--<div class="col-md-1 col-sm-3 col-xs-12">
                                <button style="position: relative; top: 25px;" type="button" class="btn btn-primary"
                                        ng-disabled="isTableLoading" ng-click="reassign_phone_to_company()">Save
                                </button>
                            </div>-->

                        </div>

                        <div ng-show="isTableLoading"
                             class="loading-current-view" style="background: transparent;">
                            <!--  loader  -->
                            <svg class="circular">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"></circle>
                            </svg>
                            <div class="loader-section"></div>
                        </div>

                        <div ui-if="grid_phone_config_options.data.length>0" id="grid1" ui-grid="grid_phone_config_options" class="grid"
                             ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-auto-resize ui-grid-pinning
                             ng-style="getTableHeight()"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
